.search-area {
    background-color: white;
    border-radius: 8px;
    box-shadow: $custom-box-shadow;

    .search-item {
        border: 1px solid $gray-300;
        padding: .25rem .75rem;
        label.search-title {
            white-space: nowrap;
            width: 100px;
            i {
                color: $main-color01-dark;
            }
        }
        select, input[type=text] {
            border: 0;
            border-radius: 0;
        }
    }
    .btn-clear {
        border-radius: 0;
    }
    .btn-search {
        border-radius: 0;
        border: 1px solid $main-color01-dark;
    }
}

.calendar-area {
    height: calc(100vh - 6.5rem - 4px - 1.5rem - 29px);
}

.calendar {
    background-color: white;
    box-shadow: $custom-box-shadow;
    height: calc(100% - 0.5rem);
    .calendar-top {
        padding: .65rem 1rem;
        .btn-arrow {
            color: $main-color01-dark;
            font-size: 1.5rem;
            &:hover {
                transition: .3s;
                color: $main-color01;
            }
        }
    }
    .calendar-body {
        height: calc(100% - 1.3rem - 1.5rem - .7rem);
        overflow: scroll;
        table {
            table-layout: fixed;
            margin-bottom: 0;
            thead {
                th {
                    text-align: center;
                    border: 1px solid $gray-200;
                }
            }
            tbody {
                td {
                    height: 150px;
                    border: 1px solid $gray-200;
                    &.past {
                        background-color: $gray-100;
                    }
                    .day {
                        display: flex;
                        justify-content: space-between;
                        .today {
                            background-color: $main-color01;
                            color: white;
                            border-radius: 12px;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                        }
                    }
                    .work {
                        display: flex;
                        justify-content: space-between;
                        padding: .15rem .25rem;
                        border-radius: 4px;
                        margin-top: .25rem;
                    }
                    .more {
                        margin-top: .25rem;
                        text-align: center;
                    }
                    .note::before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: $gray-500;
                        margin-right: .25rem;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.list-area {
    height: calc(100vh - 6.5rem - 4px - 1.5rem - 29px);
    overflow: hidden;
}

.calendar-list {
    box-shadow: $custom-box-shadow;
    background-color: white;
    height: 60%;
    .list-title {
        color: white;
        background-color: $main-color01;
        padding: .35rem 1rem;
    }
    .list-item {
        height: calc(100% - 1rem - 0.7rem);
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            background-color: $gray-300;
        }
        &::-webkit-scrollbar {
            width: 9px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $gray-600;
        }
    }
    .list-date {
        background-color: $gray-300;
        color: black;
        padding: .25rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    .work-order, .note-order {
        cursor: pointer;
        &:hover {
            transition: .3s;
            border: 1px solid $gray-700!important;
            box-shadow: $custom-box-shadow;
        }
    }
    .note-order {
        .note-content {
            &:before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: $gray-500;
                margin-right: .5rem;
                border-radius: 5px;
            }
        }
    }
}

.news {
    box-shadow: $custom-box-shadow;
    background-color: white;
    height: calc(40% - 1.5rem);
    .list-title {
        color: white;
        background-color: $main-color01;
        padding: .35rem 1rem;
    }
    .news-content {
        height: calc(100% - 1rem - 1rem - 0.7rem);
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            background-color: $gray-300;
        }
        &::-webkit-scrollbar {
            width: 9px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $gray-600;
        }
    }
}