//  全站設定  //

body {
  font-family: "NanumGothic", "Noto Sans TC", sans-serif;
  background-color: #F8FCFF;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.content {
  margin-top: calc(1rem + .5rem + 28px + 1px);
}
.page {
  margin-bottom: 5rem;
}
.page-title {
  font-weight: bold;
  background-color: $main-color01;
  color: white;
  padding: .5rem 1rem;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .warning {
    background-color: #FFDD86;
    color: black;
    font-weight: normal;
    padding: 0 .25rem;
    margin-left: .5rem;
    display: inline-block;
    font-size: .85rem;
  }
  .btn-previous, .btn-next {
    color: white;
    &:hover, &:active {
      transition: .3s;
      background-color: darken($main-color01, 10%);
      color: white;
    }
  }
}
.form-area {
  background-color: white;
  box-shadow: $custom-box-shadow;
  @include media-breakpoint-down(sm) {
    font-size: .95rem;
  }
  .form-section {
    padding: 1rem 1rem 0 1rem;
    .form-section-title {
      font-weight: bold;
      font-size: 1.25rem;
      i {
        color: $main-color01-dark;
      }
    }
    label.required {
      &:after {
        content: "*";
        display: inline-block;
        color: red;
        margin-left: .25rem;
      }
    }
    .form-table {
      --bs-table-bg: transparent;
      tr {
        border: 0;
        th, td {
          padding: 0 .25rem .25rem 0;
          border: 0;
          min-width: 170px;
          &.trash {
            min-width: calc(2rem + 2px);
          }
          &.w4rem {
            min-width: 4rem;
          }
        }
      }
    }
    .upload-img {
      position: relative;
      height: 250px;
      width: calc(25% - 1rem);
      @include media-breakpoint-down(sm) {
        width: calc(50% - 1rem);
        height: 200px;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      .btn-trash {
        position: absolute;
        right: 0;
        background-color: $gray-400;
        color: $gray-700;
        border-radius: 0 4px 0 4px;
        padding: .25rem .5rem;
        &:hover, &:active {
          background-color: $gray-500;
          color: $gray-800;
          transition: .3s;
        }
      }
    }
    .sign-area {
      position: relative;
      height: calc(2rem + 1.5rem + 1.5rem + 4px);
      width: 100%;
      .btn-sign {
        width: 100%;
        height: 100%;
        &:hover {
          transition: .3s;
          background-color: $gray-100;
        }
      }
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      .btn-trash {
        position: absolute;
        right: 0;
        background-color: $gray-400;
        color: $gray-700;
        border-radius: 0 4px 0 4px;
        padding: .25rem .5rem;
        &:hover, &:active {
          background-color: $gray-500;
          color: $gray-800;
          transition: .3s;
        }
      }
    }
  }
}
