//  全站設定  //

body {
  font-family: "NanumGothic", "Noto Sans TC", sans-serif;
  background-color: #F8FCFF;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.content {
  margin-top: calc(1rem + .5rem + 28px + 1px);
}