<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% set pageSetting = {
title: "DEMO",
activeNav: "demo",
breadcrumb :[
{ title: '選單大項', url: '#'},
{ title: "DEMO", url: './_demo.html' }
]
} %}

{% block content %}
<!-- CONTENT -->
<div class="container p-4">

    <!-- 麵包屑 -->
    {% include "macros/breadcrumb.html" %}

    <div class="row">
        <div class="col-6">
            <button class="btn btn-color01">abc</button>
            <button class="btn btn-outline-color01">abc</button>
        </div>
    </div>
    
</div>  
{% endblock %}

<!-- 單獨引用的 js 放置處 -->
{% block js %}
<!-- <script></script> -->
{% endblock %}