<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% set pageSetting = {
title: "其他頁",
activeNav: "index",
breadcrumb : null
}
%}

{% block content %}

<!-- 選單 -->
{% include "macros/nav.html" %}

<!-- CONTENT -->
<div class="content container-fluid">
    <div class="page">
        <div class="page-title">
            <div><i class="bi bi-receipt-cutoff me-2"></i>頁面標題</div>
        </div>
        <div class="form-area p-3">
            我是內容
        </div>
    </div>
    <div class="fixed-bottom bg-white d-flex align-items-center justify-content-center py-2">
        <button type=" button" class="btn btn-secondary me-2"><i class="bi bi-x me-2"></i>取消</button>
        <button type=" button" class="btn btn-color01 me-2"><i class="bi bi-ticket-perforated me-2"></i>拆單</button>
        <button type=" button" class="btn btn-color01-dark-outline me-2"><i class="bi bi-envelope me-2"></i>寄送 E-mail</button>
        <button type=" button" class="btn btn-color01-dark"><i class="bi bi-save me-2"></i>儲存</button>
    </div>
</div>

{% endblock %}